<h1 id="introduction">Introduction</h1>

> Welcome!

```shell
Do you like this project? Do you want to include an API game 
in our repository? Check our github project and learn how to 
contribute! 💛 Is really easy!
```

Welcome to the documentation of the "Make APIs fun" open source project 🔥 Who said that works with Rest APIs was boring?

Usually, we relate the Rest APIs with simple CRUD operations and boring management applications. In this repository you will find a set of APIs to **play classic board games** using just REST requests 😱

<%= image_tag "https://github.com/make-apis-fun/make-apis-fun/blob/master/banner.png?raw=true" %>

Check [Github Repository](https://github.com/make-apis-fun/make-apis-fun) for more information about the project.

Scroll down to read the documentation of all our current games.